name: Build CoreProtect

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Update project.branch in pom.xml
        run: |
          echo "Updating pom.xml project.branch to 'developer'..."
          sed -i 's|<project.branch>.*</project.branch>|<project.branch>developer</project.branch>|' pom.xml
          
          # Verification step to show it worked in the logs
          grep "<project.branch>" pom.xml
      - name: Build with Maven
        run: mvn clean install
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CoreProtect-Jar
          path: |
            target/CoreProtect-*.jar
            !target/original-*.jar
          if-no-files-found: error
